<!DOCTYPE html>
<!-- An HTML template which displays hyperlinks allowing the user to create a new service ticket. -->
<html lang="en">
    <head>
        <!-- Define the character set and title of the page. -->
        <meta charset="utf-8">
        <title>Menu</title>
    </head>
    <body>
        <!-- Display three hyperlinks which redirect the user to create a new service ticket of the corresponding type
        in a new window. -->
        <a target="_blank" href="/get_ticket/change_oil">Change oil</a>
        <a target="_blank" href="/get_ticket/inflate_tires">Inflate tires</a>
        <a target="_blank" href="/get_ticket/diagnostic">Get diagnostic test</a>
    </body>
</html>